// Place all the styles related to the Player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-title{
	font-size: 21px;
}

td.check{
	cursor: grab;
}
